# Dependencies
node_modules

# Build outputs
dist
.next
out

# Turbo cache
.turbo

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# OS
.DS_Store

# Test coverage
coverage
.coverage

# Debug logs
npm-debug.log*
pnpm-debug.log*
